* {
  margin: 0;
  padding: 0;
}

.container {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  padding-right: 0px;
}

.pdetails {
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 70px;
}

.body1 {
  font-family: sans-serif;
  border: 5px solid black;
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.price {
  font-size: 24px;
}

.shipping {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 15px;
  display: inline-block;
}

.button {
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

.info {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline black;
}

a:active {
  text-decoration: none;
}

.button:hover {
  color: black;
  background-color: white;
  border: white;
  cursor: pointer;
  border-top: 4px solid black;
}

.details-list {
  font-size: 16px;
  margin: 20px;
}

.li {
  padding-bottom: 10px;
}

.ready {
  padding-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
  padding-bottom: 0px;
}

h2 {
  position: relative;
}

h2::before {
  content: "SALE";
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  left: -38px;
  top: -17px;
  background-color: red;
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 12px;
}

div {
  position: relative;
}

.color-1 {
  height: 22px;
  width: 22px;
  background-color: black;
  position: absolute;
  margin-right: 10px;
  top: 460px;
  display: inline-block;
}

.color-2 {
  height: 22px;
  width: 22px;
  background-color: blue;
  position: absolute;
  margin-left: 30px;
  top: 460px;
  display: inline-block;
}

.color-3 {
  height: 22px;
  width: 22px;
  background-color: red;
  position: absolute;
  margin-left: 60px;
  top: 460px;
  display: inline-block;
}

.color-4 {
  height: 22px;
  width: 22px;
  background-color: yellow;
  position: absolute;
  margin-left: 90px;
  top: 460px;
  display: inline-block;
}

.color-5 {
  height: 22px;
  width: 22px;
  background-color: green;
  position: absolute;
  margin-left: 120px;
  top: 460px;
  display: inline-block;
}

.color-6 {
  height: 22px;
  width: 22px;
  background-color: brown;
  position: absolute;
  margin-left: 150px;
  top: 460px;
  display: inline-block;
}
